:root {
    --background : #000000;
    --white : #ffffff;
    --text-gradient-bg : rgb(105, 234, 203);
    --text-gradient-1 : linear-gradient(
        90deg,
        rgba(105, 205, 234, 1) 0%,
        rgba(234, 204, 248, 1) 50%,
        rgba(102, 84, 241, 1) 100%
    );
    --btn-bg : #2f80ed
}
.heading-gradient{
    background:var(--text-gradient-bg);
    background: var(--text-gradient-1);
    background-clip:text;
    /* -webkit-text-fill-color: transparent; */
    color: transparent;
}

.absolute-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.max-width{
    width: 80%;
    margin: auto;
}
.cur-poi{
    cursor: pointer;
}
